.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A2C2F;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

/* Oculta a barra de rolagem para o Chrome, Safari e Edge. */
body::-webkit-scrollbar {
    display: none;
}